/target/
/installer/bin/
/installer/obj/
/apps/android/.gradle/
/apps/android/app/build/
/apps/android/local.properties
*.msi
*.apk
/assets/*.ico
/installer/stage/
/installer/cache/
/installer/RuntimeFiles.wxs
