<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="Screen Mirror"
    Manufacturer="tsuyoshi-otake"
    Version="$(var.ProductVersion)"
    UpgradeCode="6f8ce011-86e3-42b5-891d-6b8f4d1814c1"
    Scope="perMachine">

    <MajorUpgrade DowngradeErrorMessage="A newer version of Screen Mirror is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <Icon Id="AppIcon.ico" SourceFile="$(var.StageDir)\screen-mirror.ico" />
    <Property Id="ARPPRODUCTICON" Value="AppIcon.ico" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="Screen Mirror" />
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ProgramMenuScreenMirror" Name="Screen Mirror" />
    </StandardDirectory>

    <Feature Id="MainFeature" Title="Screen Mirror" Level="1">
      <ComponentGroupRef Id="AppComponents" />
      <ComponentGroupRef Id="RuntimeComponents" />
    </Feature>
    <CustomAction Id="StopExistingScreenMirror" Directory="INSTALLFOLDER" ExeCommand="[SystemFolder]taskkill.exe /IM screen-mirror.exe /F" Execute="immediate" Return="ignore" Impersonate="yes" />
    <CustomAction Id="LaunchScreenMirror" FileRef="ScreenMirrorExe" ExeCommand="tray" Execute="immediate" Return="asyncNoWait" Impersonate="yes" />
    <InstallExecuteSequence>
      <Custom Action="StopExistingScreenMirror" Before="InstallValidate" Condition="NOT REMOVE" />
      <Custom Action="LaunchScreenMirror" After="InstallFinalize" Condition="NOT Installed" />
    </InstallExecuteSequence>
  </Package>

  <Fragment>
    <ComponentGroup Id="AppComponents" Directory="INSTALLFOLDER">
      <Component Id="ScreenMirrorExeComponent" Bitness="always64">
        <File
          Id="ScreenMirrorExe"
          Source="$(var.StageDir)\screen-mirror.exe"
          Name="screen-mirror.exe"
          KeyPath="yes">
          <Shortcut
            Id="StartMenuShortcut"
            Directory="ProgramMenuScreenMirror"
            Name="Screen Mirror"
            Arguments="tray"
            WorkingDirectory="INSTALLFOLDER"
            Icon="AppIcon.ico"
            Advertise="yes" />
        </File>
      </Component>

      <Component Id="AutostartComponent" Bitness="always64">
        <RegistryValue
          Root="HKCU"
          Key="Software\Microsoft\Windows\CurrentVersion\Run"
          Name="ScreenMirror"
          Type="string"
          Value="&quot;[INSTALLFOLDER]screen-mirror.exe&quot; tray"
          KeyPath="yes" />
      </Component>

      <Component Id="ReadmeComponent" Bitness="always64">
        <File
          Id="ReadmeFile"
          Source="$(var.StageDir)\README.md"
          Name="README.md"
          KeyPath="yes" />
      </Component>

      <Component Id="IconComponent" Bitness="always64">
        <File
          Id="ScreenMirrorIcon"
          Source="$(var.StageDir)\screen-mirror.ico"
          Name="screen-mirror.ico"
          KeyPath="yes" />
      </Component>

      <Component Id="StartMenuFolderComponent" Directory="ProgramMenuScreenMirror" Bitness="always64">
        <RemoveFolder Id="RemoveProgramMenuScreenMirror" On="uninstall" />
        <RegistryValue
          Root="HKCU"
          Key="Software\ScreenMirror"
          Name="StartMenuFolder"
          Type="integer"
          Value="1"
          KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
